*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
 width: 100vw;
 height: auto;
 background-color: #1a1a1a;
}

.home {
  border: 1px solid #3E4C59;
  width: 730px;
  max-width: 100%;
  margin: 0 auto;
  margin-inline-start: 3.5px;
  height: auto;
  position: relative;
  background-color: #1a1a1a;
  

  .header2 {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .loading-readme {
        top: 200px;
        position: relative;
        left: 200px;
      }

    .readme-container {
      margin-block-start: 90px;


      .readme-content-container {
        margin-inline-start: 10px;

        p {
          font-size: 16px;
          margin-inline-start: 5px;

          span {
            color: #3E4C59;;
          }
        }

        .readme-content {
          font-size: 16px;
          padding: 10px;
          text-align: justify;
          letter-spacing: -1px;
        }
      }

      .avatar {
        width: 70px;
        height: 70px;
        margin-inline-start: 5px;
      }

      .line {
        transform: scale(1, 0.2);
        color: #3E4C59;
      }
    };

         .loading {
           margin-block-start: 700px;
           position: relative;
           left: 200px;
           bottom: 300px;
    
         }

    .fragment {
      .copy {
        display: none;
      }
      header {
        background-color: #000;
        position: absolute;
        width: 100%;
        max-width: 100%;
        height: 80px;
        top: 0;
        border: 1px solid #3E4C59;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .search-container {
          width: 300px;

          .search-input {
            width: 240px;
            height: 43px;
            position: relative;
            bottom: 1px;
          };

          button {
            /* border-radius: 0px; */
            position: absolute;
            margin-inline-start: 5px;
            background-color: #3E4C59
          }
        };

       

        .create-btn {
          /* border-radius: 0; */
          width: 65px;
          height: 40px;
          padding: 5px;
          background-color: #3E4C59;
        }
      };

      .main-repo-container {
        height: auto;
        position: relative;

        .modal-container {
          position: absolute;
          top: -197px;
          left: 0;
          border: 1px solid #3E4C59;

          .modal-content {
            margin-block-start: 15px;
          }
        }

        .all-repos-container {

          h2 {
            padding: 10px;
          }

          .repo-wrapper {
            margin-block-start: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .repo-container {
              width: 100%;
              height: 80px;
              padding: 10px;
              

              .line {
                /* position: absolute; */
                width: 100%;
                  transform: scale(1, 0.2);
                  color: #3E4C59;
                }

              h3 {
                margin-block-start: -20px;
                position: relative;
                bottom: 5px;
              }

              .info-btn {
                background-color: rgba(255, 255, 255, 0.87);
                color: #000;
                /* border-radius: 0; */
                margin-block-end: 10px;
              }

              .delete-btn {
                background-color: rgba(255, 255, 255, 0.87);
                color: #000;
                /* border-radius: 0; */
                margin-inline-start: 20px;
              }
            }
          }
        }
      };

      .pagination {
        position: relative;
        left: 35px;
      }
    }
  }

}

