*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
 width: 100vw;
 height: auto;
 background-color: #1a1a1a;
 overflow-y: hidden;
 overflow-x: hidden;
}

.home {
  border: 1px solid #1a1a1a;
  width: 730px;
  max-width: 100%;
  margin: 0 auto;
  /* margin-inline-start: 0px; */
  height: auto;
  position: relative;
  background-color: #1a1a1a;
  

  .header2 {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #000;
    margin-inline-start: -3px;
    margin-block-end: -80px;
  }

  .sidebar {
    display: none;
  }

  .main {
    width: 103%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .loading-readme {
        top: 200px;
        position: relative;
        left: 200px;
      }

    .readme-container {
      margin-block-start: 90px;


      .readme-content-container {
        width: 98%;
        margin-inline-start: 0px;
        line-height: 30px;

        p {
          font-size: 16px;
          margin-inline-start: 5px;

          span {
            color: #3E4C59;;
          }
        }

        .readme-content {
          font-size: 16px;
          padding: 10px;
          text-align: justify;
          letter-spacing: -1px;
        }
      }

      .avatar {
        width: 90px;
        height: 90px;
        margin-inline-start: 5px;
      }

      .line {
        transform: scale(1, 0.2);
        color: #3E4C59;
      }
    };

         .loading {
           margin-block-start: 700px;
           position: relative;
           left: 200px;
           bottom: 300px;
    
         }

    .fragment {
      .copy {
        display: block;
        position: absolute;
        top: 16px;
        left: 10px;

        .search-container {
            width: 300px;
        
            .search-input {
              width: 240px;
              height: 43px;
              position: relative;
              bottom: 1px;
            }
        
            ;
        
            button {
              position: absolute;
              margin-inline-start: 2px;
              background-color: #ccc;
              color: #000
            }
          };
        
          .create-btn {
            position: absolute;
            left: 315px;
            top: 0px;
            width: 75px;
            height: 40px;
            padding: 5px;
            background-color: #ccc;
            color: #000;
          }
      }
      
      .main-repo-container {
        height: auto;
        position: relative;

        .modal-container {
          position: absolute;
          top: -360px;
          border-top: none;
          left: 0;
          border: 1px solid #3E4C59;

          .modal-content {
            margin-block-start: 15px;
          }

          button {
            border-radius: 5px;
          }
        }

        .all-repos-container {

          h2 {
            padding: 10px;
          }

          .repo-wrapper {
            margin-block-start: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .repo-container {
              width: 100%;
              height: 80px;
              padding: 10px;
              

              .line {
                /* position: absolute; */
                width: 104%;
                overflow-x: hidden;
                  transform: scale(1, 0.2);
                  color: #3E4C59;
                  margin-inline-start: -15px;
                }

              h3 {
                margin-block-start: -20px;
                position: relative;
                bottom: 5px;
              }

              .info-btn {
                background-color: rgba(255, 255, 255, 0.87);
                color: #000;
                margin-block-end: 10px;
                width: 90px;
                padding: 5px;
              }

              .delete-btn {
                background-color: rgba(255, 255, 255, 0.87);
                color: #000;
                width: 90px;
                padding: 5px;
                margin-inline-start: 10px;
              }
            }
          }
        }
      };

      .pagination {
        position: relative;
        left: 35px;
      }
    }
  }

}

