.loading-details-icon {
    margin-inline-start: 750px;
    margin-block-start: 200px;
}

.details-fragment {
    width: 430px;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    /* border: 1px solid #3E4C59; */
    background-color: #1a1a1a;

    header {
        background-color: #000;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 80px;

        p {
            display: none;
        }

        h2 {
            margin-inline-start: 20px;
        }

        .avatar {
           display: none;
        }
    };

    .details-container {
        margin-inline-start: 20px;
        padding: 10px;
    
        height: auto;

        .main-details {

            p {
                margin-block-end: 10px;
            }

            span {
                color: #52606D;
                font-weight: bold;
            }

            hr {
                transform: scale(1, 0.2);
                color: #3E4C59;
                margin-block-end: 10px;
            }
        }
    };

    .home-btn {
        background-color: #3E4C59;
        margin-block-start: 10px;
        margin-inline-start: 160px;
    }
}


@media (min-width: 48em) {
    #root {
        .loading-details-icon {
            margin-inline-start: 400px;
            margin-block-start: 300px;
    }
        .details-fragment {
            width: 768px;

            .home-btn {
                margin-inline-start: 300px;
            }
        }
    }
}

@media (min-width: 64em) {
    #root {
        .loading-details-icon {
                margin-inline-start: 750px;
                margin-block-start: 200px;
            }
            
        .details-fragment {
            
            header {

                p {
                    display: block;
                    margin-inline-start: 20px;
                }

                h2 {
                    margin-inline-start: 380px;
                }
            }
            width: 100%;

            .details-container {
                overflow: hidden;
                margin-block-start: -16px;
                /* border: 1px solid red; */

                .main-details {
                    border-right: none;
                    /* border: 1px solid #3E4C59; */
                    width: 500px;
                    margin: 0 auto;
                    border-top: none;


                    p {
                        margin-block-start: 5px;
                        position: relative;
                        top: 15px;
                    }
                }

                hr {
                    margin-block-start: 20px;
                    margin-block-end: -5px;
                }
            };

            .home-btn {
                position: absolute;
                left: 450px;
                border-radius: 0;
            }
        }
    }
}